<html lang="es">
<head>
   <style>
        table{
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th{
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }
   </style>
</head>
<body><br><br>
    <h3 style="text-align: center;">sistema de gestion</h3>
    <br>
    <table>
        <tr>
            <th>Nombre:
                <%=name%>
            </th>
            <th>Email:
                <%=email%>
            </th>
        </tr>
        <tr>
            <th>Contacto:
                <%=contact%>
            </th>
            <th>Metode de pago:
                <%=paymentMethod%>
            </th>
        </tr>
    </table>

    <h3>Detalles de productos</h3>
    <table>
        <tr>
            <th>Nombre. </th>
            <th>Categoria. </th>
            <th>Cantidad. </th>
            <th>Precio. </th>
            <th>Sub total. </th>
        </tr>

        <% if(productDetails.length > 0){ %>
            <% productDetails.forEach(product =>{ %>
                <tr>
                    <td><%=product.name%></td>
                    <td><%=product.category%></td>
                    <td><%=product.quantity%></td>
                    <td><%=product.price%></td>
                    <td><%=product.total%></td>
                </tr>
            <% }) %>
        <% } %>
    </table>

    <h3>Total:  <%=totalAmount%></h3>
    <br>
    <h3>Gredenciales gracias por preferirnos</h3>
</body>
</html>